<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="authenticated">
  <a class="navbar-brand" href="#">DTBOOK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Sach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">The loai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authors">Tac gia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/publishers">Nha xuat ban</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">Don hang</a>
      </li>
    </ul>
    <button class="btn btn-grey my-2 my-sm-0" type="submit">
     <i class="fa fa-user-times"></i> Dang xuat
    </button>
    <button class="btn btn-danger my-2 my-sm-0 ml-2" type="submit">
      <i class="fa fa-cog"></i> Cai dat
    </button>
  </div>
</nav>